/*============================== GOOGLE FONTS ==============================*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

/*=============== Varibles ===============*/
:root {
  /********** Colors **********/
  --first-color: #ffb3b2;
  --white-color: #fff;
  --dark-color: #121212;
  --white-color-text: #fff8f8;

  /********** Fonts **********/
  --body-font: "Poppins", sans-serif;

  --bigger-font-size: 2.25rem;
  --big-font-size: 1.5rem;
  --normal-font-size: 0.813rem;
}

@media screen and (min-width: 768px) {
  :root {
    --bigger-font-size: 4.5rem;
    --big-font-size: 1.75rem;
    --normal-font-size: 1rem;
  }
}

/* Base Css */
*,
::before,
::after {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  overflow: hidden;
  height: 100vh;
  background-image: url("/assets/img/background.jpg"); /* The image used */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

li{
  float: right;
  margin-right: 1rem;
}

a {
  text-decoration: none;
  color:  var(--white-color);
  cursor: pointer;
}

li a{
  color: var(--dark-color);
}

img {
  max-width: 100%;
  height: auto;
}


/* Navbar - Menu */

header{
  padding: 8px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 span{
  color: var(--white-color);
}

/* Content */
main{
  height: 100%;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.container-column{
  flex: 1;
}

.left{
  text-align: left;
  margin-left: 1.6rem;
}

.right{
  text-align: right;
  margin-right: 1.6rem;
}

.text{
  width: 100%;
}

.left .text{
  font-size: var(--bigger-font-size);
  color: var(--white-color-text);
  width: 60%;
  font-weight: 600;
  
}

.right .text{
  display: inline;
  font-size: 14px;
  width: auto;
}

i{
  font-size: 40px;
  color: var(--white-color);
  background-color: var(--first-color);
  display: inline;
  border-radius: 50%;
  border: 5px solid var(--first-color);
  cursor: pointer;
}
/* Social Media */

.social-media {
  position: fixed;
  right: 3%;
  bottom: 0;
  background-color: var(--first-color);
  padding: 0.75rem 1.5rem 0.35rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
  
/* Responsive */
@media screen and (max-width: 768px) {

}
